.bg-ebony{
  background-color: $Ebony;
}

.ft-color-turquoiseBlue {
  color: $TurquoiseBlue !important;
}

.btn-turquoiseBlue{
  background-color: $TurquoiseBlue;
}

.btn-outline-turquoiseBlue {
  color: $TurquoiseBlue;
  border-color: $TurquoiseBlue;
}

.btn-turquoiseBlue{
  color: $TurquoiseBlue;
  background-color: transparent;
  transition: .3s ease;
}

.btn-turquoiseBlue:hover{
  color: $TurquoiseBlue;
  opacity: .3;
}

.btn-outline-turquoiseBlue:hover {
  color: #fff;
  background-color: $TurquoiseBlue;
  border-color: $TurquoiseBlue;
}

.ft-size-100 {
  font-size: 1.5vw;
}

.app-header {

  position: sticky;
  top: 0;
  left: 0;

  .navbar-toggler{
    border-color: #c9c9c9;
  }

  .App-logo.App-logo-size {
    width: 75px;
    height: 75px;
  }

  .header-name {
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }

  .search-form {
    display: block;

    .form-control{
      background-color: rgba(0, 0, 0, .5);
      border-color: transparent;
    }
  }

  @media only screen and (max-width: 991px) {

    .header-name {
      font-size: 16px;
      margin-top: 5px;
    }

    .App-logo.App-logo-size {
      width: 45px;
      height: 45px;
    }

    .search-form {
      display: none;
    }

  }

  #loginBtn{
    font-weight: 700;
  }

}

.container-fluid.pd-none {
  padding: 0px;
}

.load-wrap{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
  z-index: 100;
}
